<!DOCTYPE html>
<html>

<head>
  <title>Quotes</title>

  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>

  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>

  <!-- Bootstrap -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
  <script src="/static/js/app.js"></script>
</head>

<body>

  <div class="bg">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">QuoteS</a>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="/home">Home</a></li>
          <li role="presentation"><a href="/profile">Profile</a></li>
        </ul>
      </div>
    </nav>
    <!-- Sign Up&In -->
    <div class="jumbotron vertical-center">
      <div class="container transparent-box">
        <div id="sign-btn">
          <h1 class="home-title">QuoteS</h1>
          <button type="button" class="btn btn-primary" id="signup-btn">Sign Up</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-signin-modal-lg">Sign In</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sign Up Modal-->
<!--   <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="control-group">
              <div class="controls">
                <input type="text" id="inputEmail" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="controls">
              <input type="username" id="inputUsername" class="form-control" placeholder="Username">
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Modal - Sign In -->
  <div class="modal fade bs-signin-modal-lg" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="LogInModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel">Log In</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="control-group">
              <div class="controls">
                <input type="text" id="inputEmail" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="modalSignIn">Sign In</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>