<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>

	 	<meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>

    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>

    <!-- Bootstrap -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="/static/styles/app.css">
    <script src="/static/js/app.js"></script>
</head>
<body>

<h1>Sign In</h1>
<form method="post" action="/signup">
    <div>
      <input type="text" name="user[email]">
    </div>
    <div>
      <input type="password" name="user[password]">
    </div>
    <button>Submit</button>
</body>
</html>