#sign-btn {
	text-align: center;
	margin: 0 auto;
}
.log-in-modal {
	text-align: center;
}
#log-in-title {
	text-align: left;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}
.jumbotron {
    height: 400px;
    color: gray;
    text-shadow: #444 0 3px 3px;
    background: transparent;
    border: 1px solid black;
}
